<% provide(:title, t(".title", resource: resource.name)) %>
<div class="user-edit-container">
  <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), class: "edit-user-form",  local: true) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <table class="edit-user-table">
      <tr>
        <th><%= image_tag prepare_avatar(resource), class: "avatar100" %></th>
        <td>
          <%= resource.name %><br>
          <%= link_to t("views.users.edit_avatar.title"), edit_avatar_user_path(resource) %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :name %></th>
        <td>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: User.human_attribute_name(:name), required: true %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :code %></th>
        <td>
          <%= f.text_field :code, autocomplete: "code", class: "form-control", inputmode: "numeric", placeholder: User.human_attribute_name(:code), required: true %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :email %></th>
        <td>
          <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: User.human_attribute_name(:email), required: true %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :entered_at %></th>
        <td>
          <%= f.date_field :entered_at, autocomplete: "date", class: "form-control", required: true %>
        </td>
      </tr>
      <tr style="display: none;">
        <th></th>
        <td>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :current_password %></th>
        <td>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", required: true %>
          <small class="attention"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
        </td>
      </tr>
      <tr>
        <th><%= f.label :password %></th>
        <td>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <small>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</small>
        </td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation %></th>
        <td>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </td>
      </tr>
    </table>
    <div class="actions btn-container">
      <%= f.submit t('.update'), class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
  <div class="btn-container">
    <%= link_to t('devise.shared.links.back'), resource, class: "btn btn-info btn-block" %>
  </div>
  <div class="btn-container">
    <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-danger btn-block" %>
  </div>
</div>
