<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          SEARCH
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <%= search_form_for @q, class: "form-inline" do |form| %>
            <div class="form-group">
              <%= form.label :title_or_description_body_or_comments_content_body_cont, class: "sr-only" %>
              <%= form.search_field :title_or__description_body_or_comments__content_body_cont, class: "form-control", placeholder: t("views.ransack.title_or_description_or_comments") %>
            </div>
            <div class="form-group">
              <%= form.label :user, class: "sr-only" %>
              <%= form.select :user_id_eq, User.all.inject({}){|hash, user| hash.merge({user.name => user.id})}, {include_blank: Issue.human_attribute_name(:user)}, class: "form-control"  %>
            </div>
            <div class="form-group">
              <%= form.label :status, class: "sr-only" %>
              <%= form.select :status_eq, Issue.enum_options_for_num_select(:status), {include_blank: Issue.human_attribute_name(:status)}, class: "form-control"  %>
            </div>
            <div class="form-group">
              <%= form.label :scope, class: "sr-only" %>
              <%= form.select :scope_eq, Issue.enum_options_for_num_select(:scope), {include_blank: Issue.human_attribute_name(:scope)}, class: "form-control"  %>
            </div>
            <div class="form-group">
              <%= form.label :tags_name, class: "sr-only" %>
              <%= form.collection_select :tags_name_eq, Issue.tag_counts, :name, :name, {include_blank: Issue.human_attribute_name(:tag)}, class: "form-control"  %>
            </div>
            <%= form.submit class: "btn btn-outline-primary" %>
            <%= link_to t("views.btn.reset"), issues_path, class: "btn btn-outline-danger" %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<% provide(:title, t("views.issues.index.title")) %>
<h1><%= t("views.issues.index.title") %></h1>
<div class="jscroll">
  <table class="table">
    <thead>
      <tr>
        <th><%= Issue.human_attribute_name(:title) %></th>
        <th><%= Issue.human_attribute_name(:user) %></th>
        <th><%= Issue.human_attribute_name(:status) %></th>
        <th><%= Issue.human_attribute_name(:scope) %></th>
        <th><%= Issue.human_attribute_name(:tag) %></th>
        <th><%= Favorite.model_name.human %></th>
        <th><%= Stock.model_name.human %></th>
        <th><%= Issue.human_attribute_name(:created_at) %></th>
        <th><%= Issue.human_attribute_name(:updated_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
        <% if issue.accessible?(current_user) %>
          <tr>
            <td class="middle"><%= link_to issue do %>
              <%= issue.title %>
            <% end %></td>
            <td class="middle"><%= issue.user.name %></td>
            <td class="middle"><%= Issue.human_enum_status(issue.status) %></td>
            <td class="middle"><%= Issue.human_enum_scope(issue.scope) %></td>
            <td class="middle">
              <% issue.tags.pluck(:name).each do |tag| %>
                <%= link_to issues_path(tag_name: tag) do %>
                  <%= content_tag(:span, tag, class: "tag") %>
                <% end %>
              <% end %>
            </td>
            <td class="middle">
              <div id=<%= "favorite-issue-#{issue.id}" %> class="center"><%= render "favorites/favorite_btn", issue: issue %></div>
            </td>
            <td class="middle">
              <div id=<%= "stock-issue-#{issue.id}" %> class="center"><%= render "stocks/stock_btn", issue: issue %></div>
            </td>
            <td class="middle"><%= l issue.created_at, format: :medium %></td>
            <td class="middle"><%= l issue.updated_at, format: :medium %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @issues %>
</div>
