<% provide(:title, t("views.users.index.title")) %>
<h1><%= t "views.users.index.title" %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Group.human_attribute_name(:members) %></th>
      <th><%= User.human_attribute_name(:avatar) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:code) %></th>
      <th><%= t("views.users.role") %></th>
      <th><%= User.human_attribute_name(:mentor) %></th>
      <th><%= User.human_attribute_name(:entered_at) %></th>
      <th><%= User.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="middle">
          <div id=<%= "group-member-#{user.id}"%>><%= render "groupings/member_btn", user: user %></div>
        </td>
        <td><%= image_tag prepare_avatar(user), class: "avatar50" %></td>
        <td class="middle"><%= user.name %></td>
        <td class="middle"><%= user.code %></td>
        <td class="middle">
          <div id=<%= "role-mentor-#{user.id}"%>><%= render "role_btn", user: user %></div>
        </td>
        <td class="middle">
          <div id=<%= "mentor-#{user.id}"%>><%= render "groupings/mentor", user: user %></div>
        </td>
        <td class="middle"><%= l(user.entered_at) %></td>
        <td class="middle"><%= l(user.created_at, format: :medium) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
