<% provide(:title, @user.name) %>
<%= render "profile_format", user: @user %>
<%= render "my_nav", user: @user %>
<%= render "issues/search", q: @q, show_collapse: "show" %>

<% issue_count = 0 %>
<% @issues&.each do |issue| %>
  <% if issue.accessible?(@user) %>
    <% issue_count += 1 %>
    <%= render "issues/issue", issue: issue %>
  <% end %>
<% end %>

<% if issue_count.zero? %>
  <h3 class="red"><%= t("views.blank") %></h3>
<% end %>
