<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to t("views.home.index.title"), root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse header-menu" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <% if current_user&.admin? %>
          <li class="nav-item <%= activate_css(:users, :index)%>">
            <%= link_to t("admin.actions.dashboard.title"), rails_admin_path, class:"nav-link" %>
          </li>
        <% end %>
        <% if current_user.mentor? %>
          <li class="nav-item <%= activate_css(:users, :index)%>">
            <%= link_to t("views.users.index.title"), users_path, class:"nav-link" %>
          </li>
        <% end %>
        <li class="nav-item pc-view <%= activate_css(:users, :show)%>">
          <%= link_to user_path(current_user), class:"nav-link" do %>
            <%= image_tag prepare_avatar(current_user), class: "avatar25" %>
            <%= content_tag(:span, current_user.name) %>
          <% end %>
        </li>
        <li class="nav-item pc-view <%= activate_css(:notifications, :index)%>">
          <%= link_to(user_notifications_path(current_user), class: "nav-link") do %>
            <% if (unread = current_user.notifications.unreads.presence) %>
              <span class="material-icons text-warning">notifications_active</span>
              <small class="text-warning"><%= "#{unread.size}" %></small>
            <% else %>
              <span class="material-icons">notifications_none</span><small>0</small>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item pc-view <%= activate_css(:issues, :index)%>">
          <%= link_to t("views.issues.index.title"), issues_path, class: "nav-link" %>
        </li>
        <li class="nav-item pc-view <%= activate_css(:issues, :new)%>">
          <%= link_to t("views.issues.new.title"), new_issue_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= activate_css(:sessions, :destroy)%>">
          <%= link_to t("devise.sessions.new.sign_out"), destroy_user_session_path, method: :delete, class:"nav-link" %>
        </li>
      <% else %>
        <li class="nav-item <%= activate_css(:sessions, :guest_sign_in) %>">
          <%= link_to t("devise.sessions.new.guest_admin_sign_in"), users_guest_sign_in_path(admin: true), method: :post, class: "nav-link" %>
        </li>
        <li class="nav-item <%= activate_css(:sessions, :guest_sign_in) %>">
          <%= link_to t("devise.sessions.new.guest_sign_in"), users_guest_sign_in_path, method: :post, class: "nav-link" %>
        </li>
        <li class="nav-item <%= activate_css(:sessions, :new) %>">
          <%= link_to t("devise.sessions.new.sign_in"), new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= activate_css(:registrations, :new) %>">
          <%= link_to t("devise.registrations.new.sign_up"), new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
